h1
{	color:red;
	text-align:center;
	font-family:arial, helvetica, sans-serif;
}
section
{
  border: 2px solid black ;
  padding: 10px;
  margin: 10px;
  float: left;
  background-color: grey;
}
*{
	box-sizing: border-box;
}
.row {
	width:100%;
}
div {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	
}
.heading1 {
	position:relative;
	text-align: center;
	border: 2px solid black;
	background-color: Orange;
	margin: -12px;
	width: 104px;
	height: 24px;
	float: right;
	font-weight: bold;
	padding:2px;
	}
.heading2 {
	position:relative;
	text-align: center;
	border: 2px solid black;
	background-color: white;
	margin: -12px;
	width: 104px;
	height: 24px;
	float: right;
	font-weight: bold;
	padding:2px;
}
.heading3 {
	position:relative;
	text-align: center;
	border: 2px solid black;
	background-color: green;
	margin: -12px;
	width: 104px;
	height: 24px;
	float: right;
	font-weight: bold;
	padding:2px;
}
@media (min-width: 992px){
.section1 {
	float:left;
}
.section1{
	width:30%;
}
}
@media (min-width: 768px) and (max-width: 991px){
.section1a {
	float:left;
}
.section1{
	width: 40%;
}
.section1b{
	width: 83%;
}
}
